<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card-16</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="p-5">
        <div>
            <p class="text-center font-bold text-2xl">Best Products ever made</p>
        </div>

        <div>
            <p class="text-center mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit odio molestias recusandae <br>
                labore porro voluptates maxime, culpa vel laudantium obcaecati?</p>
        </div>



        <div class="flex gap-20 mt-10">
            <div class="bg-gray-100 h-[430px] w-[450px] rounded-xl shadow-lg">
                <img src="/All_images/img/p1.jpg" class="h-[300px] w-[450px] rounded-t-xl">

                <p class="font-bold text-lg">Layer Styles</p>

                <pre class="opacity-50">Lorem ipsum dolor sit, amet consectetur  
adipisicing elit. Modi, porro quae doloremque animi
fugiat quaerat? Laborum, eos!</pre>
            </div>


            <div class="bg-gray-100 h-[430px] w-[450px] rounded-xl">
                <img src="/All_images/img/p1.jpg" class="h-[300px] w-[450px] rounded-t-xl">

                <p class="font-bold text-lg">Nested Symbols</p>

                <pre>Lorem ipsum dolor sit, amet consectetur
adipisicing elit. Modi, porro quae doloremque animi
fugiat quaerat? Laborum, eos!</pre>
            </div>



            <div class="bg-gray-100 h-[430px] w-[450px] rounded-xl">
                <img src="/All_images/img/p1.jpg" class="h-[300px] w-[450px] rounded-t-xl">

                <p class="font-bold text-lg">Style Guide</p>

                <pre>Lorem ipsum dolor sit, amet consectetur
adipisicing elit. Modi, porro quae doloremque animi
fugiat quaerat? Laborum, eos!</pre>
            </div>

        </div>

        <hr class="mt-8">


        <div class="flex justify-center w-full p-2 mt-10 gap-5">

            <div class="h-10 w-10 rounded-full bg-gray-300">
                <img src="/All_images/svg-icon/facebook.svg" class="h-7 w-7 mt-1 mx-auto">
            </div>

            <div class="h-10 w-10 rounded-full bg-gray-300">
                <img src="/All_images/svg-icon/tw.svg" class="h-8 w-8 mt-1 mx-auto">
            </div>

            <div class="h-10 w-10 rounded-full bg-gray-300 ">
                <img src="/All_images/svg-icon/dropbox.svg" class="h-8 w-8 mt-1 mx-auto">
            </div>

            
            <div class="h-10 w-10 rounded-full bg-gray-300 ">
                <img src="/All_images/google.svg" class="h-8 w-8 mt-1 mx-auto">
            </div>
            
            <div class="h-10 w-10 rounded-full bg-gray-300">
                <img src="/All_images/linkedin-in.svg" class="h-7 w-7 mt-1 mx-auto">
            </div>
        </div>


    </div>
    
</body>
</html>