<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card-12</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black">

    <div class="h-[400px] bg-white mt-36 w-auto p-5 ">
        <div class="flex justify-between">
            <div>
                <p class="font-bold text-xl ">Company
                    <div class="mt-2 text-gray-500">
                        <p class="mt-2">Brand</p>
                        <p class="mt-2">Contact Us</p>
                        <p class="mt-2">Blog</p>
                    </div>
                </p>
            </div>

            <div>
                <p class="font-bold text-xl ">Legal
                    <div class="mt-2 text-gray-500">
                        <p class="mt-2">Privacy</p>
                        <p class="mt-2">Terms</p>
                        <p class="mt-2">Support</p>
                    </div>
                </p>
            </div>


            <div>
                <p class="font-bold text-xl ">Products
                    <div class="mt-2 text-gray-500">
                        <p class="mt-2">Latest features</p>
                        <p class="mt-2">Product roadmap</p>
                        <p class="mt-2">Knowledge base</p>
                    </div>
                </p>
            </div>
            
            <div>
                <p class="font-bold text-xl">Account
                    <div class="mt-2">
                        <p class="mt-2">
                            <button class="border-solid border-[1px] border-indigo-600 h-9 w-20 rounded-md">sign in</button>  </p>
                        <p class="mt-2">
                            <button class=" bg-indigo-600 h-9 w-20 rounded-md">sign up</button>    </p>
                    </div>
                </p>
            </div>
        </div>



        <hr class="mt-16">



        <div>
            <p class="text-center text-gray-500 mt-8">Sitemap. Privacy &copy; Robowolf, saint-Petersburg</p>
        </div>


        <div class="flex p-2 mt-10 ml-[600px]">
            <div class="h-10 w-10 rounded-full bg-gray-300">
                <img src="/All_images/svg-icon/tw.svg" class="h-8 w-8 mt-1 mx-auto">
            </div>

            <div class="h-10 w-10 rounded-full bg-gray-300 ml-20">
                <img src="/All_images/linkedin-in.svg" class="h-7 w-7 mt-1 mx-auto">
            </div>
            <div class="h-10 w-10 rounded-full bg-gray-300 ml-16">
                <img src="/All_images/google.svg" class="h-8 w-8 mt-1 mx-auto">
            </div>

        </div>

       

    </div>
    
</body>
</html>