<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card-5</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>


<div class="relative w-full h-screen">
    <div class="w-full h-full bg-[url('/component/poorly-chosen.png')] bg-cover bg-center blur-xl brightness-75"></div>
    <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center w-[1200px]">



    <div class="mt-20">


    <div class="p-5">

    <h2 class="font-bold text-xl">Get to know us</h2>
    <p class="text-gray-900">There's so many poorly chosen words in that sentence.</p>
    <hr>

    </div>


    <div class="flex justify-evenly gap-5">


        <div class="h-[380px] w-[330px] bg-gray-100 border border-solid border-gray-700 rounded-lg mt-5"> 
            <div>
                <img src="/All_images/img/option-9.jpg" class="object-cover object-top h-[250px] w-[400px] rounded-t-lg">
            </div>

            <div class="ml-4">
            <p class="mt-2">Cid Sirius</p>
            <p class="text-gray-500 mt-2 mb-2">Backend Developer</p>
            </div>

            <hr>

            <div class="flex p-2 justify-evenly">

                <div class="h-10 w-10 rounded-full bg-gray-300 ">
                    <img src="/All_images/svg-icon/facebook.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/All_images/svg-icon/tw.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/All_images/google.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>

            </div>

        </div>




        <div class="h-[380px] w-[330px] bg-gray-100 border border-solid border-gray-700 rounded-md mt-5"> 
            <div>
                <img src="/All_images/img/option-9.jpg" class="object-cover object-top h-[250px] w-[400px] rounded-t-lg">
            </div>

            <div class="ml-4">
            <p class="mt-2">Cid Sirius</p>
            <p class="text-gray-500 mt-2 mb-2">Backend Developer</p>
            </div>

            <hr>

            <div class="flex p-2 justify-evenly">

                <div class="h-10 w-10 rounded-full bg-gray-300 ">
                    <img src="/All_images/svg-icon/facebook.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/All_images/svg-icon/tw.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/All_images/google.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>

            </div>

        </div>




        <div class="h-[380px] w-[330px] bg-gray-100 border border-solid border-gray-700 rounded-md mt-5"> 
            <div>
                <img src="/All_images/img/option-9.jpg" class="object-cover object-top h-[250px] w-[400px] rounded-t-lg">
            </div>

            <div class="ml-4">
            <p class="mt-2">Cid Sirius</p>
            <p class="text-gray-500 mt-2 mb-2">Backend Developer</p>
            </div>

            <hr>

            <div class="flex p-2 justify-evenly">

                <div class="h-10 w-10 rounded-full bg-gray-300 ">
                    <img src="/All_images/svg-icon/facebook.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/All_images/svg-icon/tw.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/All_images/google.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>

            </div>

        </div>


    </div>

    </div>
    





    </div>
    </div>
</body>
</html>