<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card-6</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>



    
<div class="relative w-full h-screen">
    <div class="w-full h-full bg-[url('/component/recents-contacts-card.png')] bg-cover bg-center blur-xl brightness-75"></div>
    <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center w-[1200px]">



    
    <div class="h-[530px] w-[500px] bg-slate-100 pt-5 m-auto mt-24">
        
        <div class="-mt-3">
            <p>Recents Contacts</p>
        </div>

        <div class="rounded-full h-[100px] w-[100px]">
            <img src="/All_images/img/user-1.jpg" class="h-[100px] w-[100px] rounded-full">
        </div>

        <div class="ml-32 -mt-20">

        <p>John Doe</p>
        <p class="text-gray-400">Acc No 1282 2252 5200</p>

        </div>



        <div class="rounded-full h-[100px] w-[100px] mt-14">
            <img src="/All_images/img/user-1.jpg" class="h-[100px] w-[100px] rounded-full">
        </div>

        <div class="ml-32 -mt-20">

        <p>John Doe</p>
        <p class="text-gray-400">Acc No 1282 2252 5200</p>

        </div>




        <div class="rounded-full h-[100px] w-[100px] mt-14">
            <img src="/All_images/img/user-1.jpg" class="h-[100px] w-[100px] rounded-full">
        </div>

        <div class="ml-32 -mt-20">

        <p>John Doe</p>
        <p class="text-gray-400">Acc No 1282 2252 5200</p>

        </div>






        <div class="rounded-full h-[100px] w-[100px] mt-14">
            <img src="/All_images/img/user-1.jpg" class="h-[100px] w-[100px] rounded-full">
        </div>

        <div class="ml-32 -mt-20">

        <p>John Doe</p>
        <p class="text-gray-400">Acc No 1282 2252 5200</p>

        </div>

        


    </div>
</div>
</div>

    
</body>
</html>