<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card-14</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black">

    <div class="bg-white h-[500px] w-[1000px] p-10 m-auto mt-28">
        <div>
            <p class="text-center font-bold text-3xl">What people say about us</p>
        </div>


        <div>
            <img src="/All_images/svg-icon/quote-left.svg" class="h-8 w-8 mt-10 ml-32">
        </div>

        <p class="text-center"> << Though the gravity still dragged at him, his musculs were making great efforts<br> to adjust. After the daily classes he no longer collapsed immediately into bed. >> </p>

        <img src="/All_images/svg-icon/quote-right.svg" class="h-8 w-8  ml-[760px]">


        <div class="flex justify-between">
            <div class="h-28 w-28 rounded-full">
                <img src="/All_images/img/image-12.jpg" class="h-28 w-28 rounded-full">
                <p class="text-center">Risotto Nero</p>
            </div>

            <div class="h-28 w-28 rounded-full">
                <img src="/All_images/img/image-11.jpg" class="h-28 w-28 rounded-full">
                <p class="text-center">Keiji Akira</p>
            </div>

            <div class="h-28 w-28 rounded-full">
                <img src="/All_images/img/image-16.jpg" class="h-28 w-28 rounded-full">
                <p class="text-center">Goku San</p>
            </div>

            <div class="h-28 w-28 rounded-full">
                <img src="/All_images/img/image-15.jpg" class="h-28 w-28 rounded-full">
                <p class="text-center">Leone Abachio</p>
            </div>
        </div>



        <hr class="mt-14">




        <div class="flex p-2 mt-10 justify-center gap-5">

            <div class="h-10 w-10 rounded-full bg-gray-300">
                <img src="/All_images/svg-icon/facebook.svg" class="h-7 w-7 mt-1 mx-auto">
            </div>

            <div class="h-10 w-10 rounded-full bg-gray-300">
                <img src="/All_images/svg-icon/tw.svg" class="h-8 w-8 mt-1 mx-auto">
            </div>

            <div class="h-10 w-10 rounded-full bg-gray-300 ">
                <img src="/All_images/svg-icon/dropbox.svg" class="h-8 w-8 mt-1 mx-auto">
            </div>

            
            <div class="h-10 w-10 rounded-full bg-gray-300 ">
                <img src="/All_images/google.svg" class="h-8 w-8 mt-1 mx-auto">
            </div>
            
            <div class="h-10 w-10 rounded-full bg-gray-300">
                <img src="/All_images/linkedin-in.svg" class="h-7 w-7 mt-1 mx-auto">
            </div>
        </div>

    </div>
    
</body>
</html>