<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card-3</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>


    <div class="relative w-full h-screen">
        <div class="w-full h-full bg-[url('/component/that-sentence.png')] bg-cover bg-center blur-xl brightness-50"></div>
        <div
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center w-[1200px]">




    <h1 class="text-center font-bold text-2xl">Heats 'Em Say</h1>

    <div class="gap-y-12 cols-3 flex justify-evenly">

        <div class="h-[330px] w-[300px] border-solid border-2 border-gray-200 p-5 justify-evenly">
            <div class=" h-24 w-24 rounded-full border-solid border-2 border- ">
                <img src="/All_images/img/option-10.jpg" class="h-24 w-24 text rounded-full">
            </div>

            <div class="absolute top-10 left-72 h-14 w-14 rounded-full bg-gray-200">
                <img src="/All_images/svg-icon/tw.svg" class="h-10 mx-auto mt-2">
            </div>

            <h2 class="font-bold">Risitto Nero</h2>
            
            <p class="text-gray-900 mt-2">Google</p>

            <div class="text-gray-800 mt-4">
                << Though the gravity still dragged at him, his muscles were making great efforts to adjust. After the daily classes he no longer collapse immediately into bed.>>
            </div>
        </div>

        <div class="h-[330px] w-[300px] border-solid border-2 border-gray-200 p-5">
            <div class=" h-24 w-24 rounded-full border-solid border-2 border- ">
                <img src="/All_images/img/option-10.jpg" class="h-24 w-24 text rounded-full">
            </div>

            <div class="absolute top-10 right-[480px] h-14 w-14 rounded-full bg-gray-200">
                <img src="/All_images/svg-icon/tw.svg" class="h-10 mx-auto mt-2">
            </div>

            <h2 class="font-bold">Goku san</h2>
            
            <p class="text-gray-900 mt-2">Yendex</p>

            <div class="text-gray-800 mt-4">
                << Though the gravity still dragged at him, his muscles were making great efforts to adjust. After the daily classes he no longer collapse immediately into bed.>>
            </div>
        </div>

        <div class="h-[330px] w-[300px] border-solid border-2 border-gray-200 p-5">
            <div class=" h-24 w-24 rounded-full border-solid border-2 border- ">
                <img src="/All_images/img/option-10.jpg" class="h-24 w-24 text rounded-full">
            </div>

            <div class="absolute top-10 right-28 h-14 w-14 rounded-full bg-gray-200">
                <img src="/All_images/svg-icon/tw.svg" class="h-10 mx-auto mt-2">
            </div>

            <h2 class="font-bold">Keiji Akira</h2>
            
            <p class="text-gray-900 mt-2">Nike</p>

            <div class="text-gray-800 mt-4">
                << Though the gravity still dragged at him, his muscles were making great efforts to adjust. After the daily classes he no longer collapse immediately into bed.>>
            </div>
        </div>

        

    </div>





    <div class="gap-y-12 columns-3 flex justify-evenly">

        <div class="h-[330px] w-[300px] border-solid border-2 border-gray-200 p-5">
            <div class=" h-24 w-24 rounded-full border-solid border-2 border- ">
                <img src="/All_images/img/option-10.jpg" class="h-24 w-24 text rounded-full">
            </div>

            <div class="absolute top-[370px] left-72 h-14 w-14 rounded-full bg-gray-200">
                <img src="/All_images/svg-icon/tw.svg" class="h-10 mx-auto mt-2">
            </div>

            <h2 class="font-bold">Leone Abachio</h2>
            
            <p class="text-gray-900 mt-2">Amazon</p>

            <div class="text-gray-800 mt-4">
                << Though the gravity still dragged at him, his muscles were making great efforts to adjust. After the daily classes he no longer collapse immediately into bed.>>
            </div>
        </div><div class="h-[330px] w-[300px] border-solid border-2 border-gray-200 p-5">
            <div class=" h-24 w-24 rounded-full border-solid border-2 border- ">
                <img src="/All_images/img/option-10.jpg" class="h-24 w-24 text rounded-full">
            </div>

            <div class="absolute top-[370px] right-[480px] h-14 w-14 rounded-full bg-gray-200">
                <img src="/All_images/svg-icon/tw.svg" class="h-10 mx-auto mt-2">
            </div>

            <h2 class="font-bold">Kilua Mori</h2>
            
            <p class="text-gray-900  mt-2">Dropbox</p>

            <div class="text-gray-800 mt-4">
                << Though the gravity still dragged at him, his muscles were making great efforts to adjust. After the daily classes he no longer collapse immediately into bed.>>
            </div>
        </div><div class="h-[330px] w-[300px] border-solid border-2 border-gray-200 p-5">
            <div class=" h-24 w-24 rounded-full border-solid border-2 border- ">
                <img src="/All_images/img/option-10.jpg" class="h-24 w-24 text rounded-full">
            </div>

            <div class="absolute top-[370px] right-28 h-14 w-14 rounded-full bg-gray-200">
                <img src="/All_images/svg-icon/tw.svg" class="h-10 mx-auto mt-2">
            </div>

            <h2 class="font-bold">Romeo Dezeus</h2>
            
            <p class="text-gray-900 mt-2">Vimeo</p>

            <div class="text-gray-800 mt-4">
                << Though the gravity still dragged at him, his muscles were making great efforts to adjust. After the daily classes he no longer collapse immediately into bed.>>
            </div>
        </div>

    </div>


    <div class="text-center mt-1">
        <button class="h-8 w-28 outline text-blue-700">Discover more</button>
    </div>

    
    
    </div>
    </div>
    

</body>
</html>