<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card-10</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-black">



    <div class="relative w-full h-screen">
        <div class="w-full h-full bg-[url('/component/twitter-card.png')] bg-cover bg-center blur-xl brightness-75"></div>
        <div
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center w-[1200px]">
    

    <div class="h-[300px] w-[600px] bg-white m-auto my-52">
        <div class="rounded-full h-[100px] w-[100px]">
            <img src="/All_images/img/user-1.jpg" class="h-[100px] w-[100px] rounded-full">
        </div>

        <div class="font-bold text-2xl flex ml-28 -mt-20">
            <p>Brad Billy</p>
        </div>

        <div class="flex ml-28">
            <img src="/All_images/svg-icon/locationgray.svg" class="h-[20px] w-[20px]">
            <p>NEW YORK, NY</p>
        </div>


        <div class="bg-blue-200 h-[25px] w-[40px] rounded-md ml-[550px] -mt-16">
            <img src="/All_images/svg-icon/close.svg" class="h-[20px] w-[20px] text-center m-auto">
        </div>

        <hr class="mt-20">

        <div class="font-bold text-xl flex justify-between p-5">
            <p>Rating </p>
            <p>Certificates</p>
            <p>Peoject</p>
        </div>

        <div class="ms-4 flex ">
            <img class="ms-2" src="/All_images/svg-icon/staryellow.svg" alt="">
            <p>4.8</p>
        </div>

        <p class="ms-60 -mt-5">25</p>
        <p class="ms-[510px] -mt-5">25</p>


        <button class="ms-4 h-[50px] w-[570px] bg-indigo-600 rounded-md mt-5">Propose a project</button>

    </div>
    
</body>
</html>