<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card-2</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>


    <div class="relative w-full h-screen">
        <div class="w-full h-full bg-[url('/component/that-sentence.png')] bg-cover bg-center blur-xl brightness-50"></div>
        <div
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center w-[1200px]">




    
    
    <h4 class="text-center font-bold text-3xl">Get to know us</h4>
    <p class="text-center text-gray-800">There's so many Poorly chosen words in that sentence.</p>


    <div class=" flex justify-evenly">
    <div class="flex grid-cols-4 mt-5 gap-20">

        <div class="h-[400px] w-[250px] border-solid border-2 border-gray-200 p-5 rounded-xl">
            <div class=" h-32 w-32 rounded-full border-solid border-2 border- mx-auto">
                <img src="/All_images/img/option-5.jpg" class="h-32 w-32 text rounded-full">
            </div>
            <h2 class="text-center font-bold">Enrico Pucci</h2>
            <pre class="opacity-60">Lorem ipsum dolpiente 
errorperspiciatis soluta
aperiam nonexercitationem
quea eaque, quiaducimus 
commodi!</pre>
            <hr>

            <div class="flex p-2 justify-evenly">

                <div class="h-10 w-10 rounded-full bg-gray-300 ">
                    <img src="/All_images/svg-icon/facebook.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/All_images/svg-icon/tw.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/All_images/google.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>

            </div>

        </div>



        <div class="h-[400px] w-[250px] border-solid border-2 border-gray-200 p-5 rounded-xl">
            <div class=" h-32 w-32 rounded-full border-solid border-2 border- mx-auto">
                <img src="/All_images/img/option-5.jpg" class="h-32 w-32 text rounded-full">
            </div>
            <h2 class="text-center font-bold">Enrico Pucci</h2>
            <pre class="opacity-60">Lorem ipsum dolpiente 
errorperspiciatis soluta
aperiam nonexercitationem
quea eaque, quiaducimus 
commodi!</pre>    
            <hr>

            <div class="flex p-2 justify-evenly">

                <div class="h-10 w-10 rounded-full bg-gray-300 ">
                    <img src="/All_images/svg-icon/facebook.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/All_images/svg-icon/tw.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/All_images/google.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>

            </div>

        </div>



        <div class="h-[400px] w-[250px] border-solid border-2 border-gray-200 p-5 rounded-xl">
            <div class=" h-32 w-32 rounded-full border-solid border-2 border- mx-auto">
                <img src="/All_images/img/option-5.jpg" class="h-32 w-32 text rounded-full">
            </div>
            <h2 class="text-center font-bold">Enrico Pucci</h2>
            <pre class="opacity-60">Lorem ipsum dolpiente 
errorperspiciatis soluta
aperiam nonexercitationem
quea eaque, quiaducimus 
commodi!</pre> 
                <hr>

            <div class="flex p-2 justify-evenly">

                <div class="h-10 w-10 rounded-full bg-gray-300 ">
                    <img src="/All_images/svg-icon/facebook.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/All_images/svg-icon/tw.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/All_images/google.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>

            </div>

        </div>




        <div class="h-[400px] w-[250px] border-solid border-2 border-gray-200 p-5 rounded-xl">
            <div class=" h-32 w-32 rounded-full border-solid border-2 border- mx-auto">
                <img src="/All_images/img/option-5.jpg" class="h-32 w-32 text rounded-full">
            </div>
            <h2 class="text-center font-bold">Enrico Pucci</h2>
            <pre class="opacity-60">Lorem ipsum dolpiente 
errorperspiciatis soluta
aperiam nonexercitationem
quea eaque, quiaducimus 
commodi!</pre> 
                <hr>

            <div class="flex p-2 justify-evenly">

                <div class="h-10 w-10 rounded-full bg-gray-300 ">
                    <img src="/All_images/svg-icon/facebook.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/All_images/svg-icon/tw.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>
                <div class="h-10 w-10 rounded-full bg-gray-300">
                    <img src="/All_images/google.svg" class="h-8 w-8 mt-1 mx-auto">
                </div>

            </div>

        </div> 
    
        
    </div>
    </div>





    </div>
    </div>


    
</body>
</html>