*{
    text-decoration: none;
    list-style: none;
}

form{
    border: 2px solid black;
    text-align: center;
    height: 97vh;
    width: 97vw;
}

.exam-2{
    display: inline-block;
}
.food{
    height: 200px;
    width: 200px;
    background-color: aqua;
}