<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card-8</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>



    <div class="relative w-full h-screen">
        <div class="w-full h-full bg-[url('/component/upload-card2.png')] bg-cover bg-center blur-xl brightness-75"></div>
        <div
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center w-[1200px]">
    


    <div class="bg-blue-700 h-[260px] w-[500px] p-2 m-auto">
        <div class="p-2 outline-dashed rounded-lg">

        <img src="/All_images/image-solid.svg" class="m-auto h-[100px] w-[100px]">
        <h6 class="text-center text-2xl mt-5 text-blue-400">Drop your image here</h6>
        <p class="text-center mt-3 text-blue-400">Or upload it manually</p>
        
        <button class="text-blue-700 bg-blue-100 w-[460px] mt-4 rounded-md">Upload</button>
        </div>
    </div>

</div>
</div>

    
</body>
</html>