<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card-17</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black">

    <div class="bg-white h-[220px] w-[600px] m-auto mt-52 p-3">
        <div>
            <p class="font-bold text-lg">We use cookies</p>
        </div>
        <div>
            <p class="text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ducimus voluptates dolor maxime esse similique culpa, maiores est fugit quaerat et quod, rem facere omnis fugiat suscipit dolorum. Eligendi laboriosam qui perferendis tenetur dolorem totam voluptates eius, ratione facere nemo facilis id!</p>
        </div>

        <div class="flex mt-5 justify-evenly">
            <button class="bg-red-500 text-white h-12 w-60 rounded-lg">Cancel</button>
            <button class="bg-violet-500 text-white h-12 w-60 rounded-lg">Confirm</button>
        </div>
    </div>
    
</body>
</html>