<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card-15</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black">

    <div class="bg-white h-[400px] w-auto flex gap-[80px] p-2 mt-40">
        
        <div class="bg-gray-100 h-[390px] w-[320px]">
            <img src="/All_images/img/p1.jpg" class="h-80 w-80 rounded-t-xl">
            <p class="mt-2 text-gray-500">Startup Unicorns T-Shirt</p>

            <div class="flex">
                <p>$72  <del class="mt-2 text-gray-500">$96</del> </p>
                <button class="h-8 w-24 bg-violet-600 text-white rounded-md ml-40">Buy</button>
            </div>
        </div>


        <div class="bg-gray-100 h-[390px] w-[320px]">
            <img src="/All_images/img/p1.jpg" class="h-80 w-80 rounded-t-xl">
            <p class="mt-2 text-gray-500">Startup Unicorns T-Shirt</p>

            <div class="flex">
                <p>$72  <del class="mt-2 text-gray-500">$96</del> </p>
                <button class="h-8 w-24 bg-violet-600 text-white rounded-md ml-40">Buy</button>
            </div>
        </div>



        <div class="bg-gray-100 h-[390px] w-[320px]">
            <img src="/All_images/img/p1.jpg" class="h-80 w-80 rounded-t-xl">
            <p class="mt-2 text-gray-500">Startup Unicorns T-Shirt</p>

            <div class="flex">
                <p>$72  <del class="mt-2 text-gray-500">$96</del> </p>
                <button class="h-8 w-24 bg-violet-600 text-white rounded-md ml-40">Buy</button>
            </div>
        </div>



        <div class="bg-gray-100 h-[390px] w-[320px]">
            <img src="/All_images/img/p1.jpg" class="h-80 w-80 rounded-t-xl">
            <p class="mt-2 text-gray-500">Startup Unicorns T-Shirt</p>

            <div class="flex">
                <p>$72  <del class="mt-2 text-gray-500">$96</del> </p>
                <button class="h-8 w-24 bg-violet-600 text-white rounded-md ml-40">Buy</button>
            </div>
        </div>

    </div>
    
</body>
</html>