<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card-4</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="relative w-full h-screen">
        <div class="w-full h-full bg-[url('/component/here-we-are.png')] bg-cover bg-center blur-xl brightness-75"></div>
        <div
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center w-[1200px]">




        <div class="h-14 w-full bg-gray-300 rounded-md">
            <h2 class="text-center font-bold text-xl">Here we are, take a look</h2>
            <p class="text-center text-gray-700">There's so many poorly chosen words in that sentence</p>
        </div>

    <div class="h-[600px] w-[1200px] bg-gray-200 m-auto">

        <div class="flex justify-evenly p-7">
            
            <div>
                <img class="h-44 w-44 rounded-full" src="/All_images/img/image-1.jpg" >
                <p class="text-center">Cid Sirius</p>
                <p class="text-center text-gray-500">Backend Developer</p>
            </div>

            <div>
                <img class="h-44 w-44 rounded-full" src="/All_images/img/image-2.png" >
                <p class="text-center">Enrico Pucci</p>
                <p class="text-center text-gray-500">Frontend Developer</p>
            </div>

            <div>
                <img class="h-44 w-44 rounded-full" src="/All_images/img/image-3.jpg" >
                <p class="text-center">Risotto Nero</p>
                <p class="text-center text-gray-500">VP Designer</p>
            </div>

            <div>
                <img class="h-44 w-44 rounded-full" src="/All_images/img/option-1.png" >
                <p class="text-center">Rubber Soul</p>
                <p class="text-center text-gray-500">US Designer</p>
            </div>

            <div>
                <img class="h-44 w-44 rounded-full" src="/All_images/img/option-3.jpg" >
                <p class="text-center">Saifer joe</p>
                <p class="text-center text-gray-500">Frontend Developer</p>
            </div>


        </div>


        <div class="flex justify-evenly mt-[70px]">

            <div>
                <img class="h-44 w-44 rounded-full" src="/All_images/img/option-4.jpg" >
                <p class="text-center">Benjamin Boom</p>
                <p class="text-center text-gray-500">Designer Director</p>
            </div>

            <div>
                <img class="h-44 w-44 rounded-full" src="/All_images/img/image-4.png" >
                <p class="text-center">Scarlet Valentine</p>
                <p class="text-center text-gray-500">Support manager</p>
            </div>

            <div>
                <img class="h-44 w-44 rounded-full" src="/All_images/img/option-5.jpg" >
                <p class="text-center">Steven Steel</p>
                <p class="text-center text-gray-500">Executive Director</p>
            </div>

            <div>
                <img class="h-44 w-44 rounded-full" src="/All_images/img/option-6.png" >
                <p class="text-center">Ringo Roadagain</p>
                <p class="text-center text-gray-500">Oparetion Director</p>
            </div>

            <div>
                <img class="h-44 w-44 rounded-full" src="/All_images/img/option-7.jpg" >
                <p class="text-center">Mountain Tim</p>
                <p class="text-center text-gray-500">Creative Director</p>
            </div>

        </div>
    </div>



        </div>
    </div>
    
</body>
</html>