<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card-1</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <h4 class="text-center">Get to know us</h4>
    <p class="text-center text-gray-500">There's so many Poorly chosen words in that sentence.</p>


    <div class="grid gap-y-12 grid-cols-6 mt-5"> 
        

        <div class="h-[150px] w-52 bg-purple-500 rounded-xl">
            <img class="h-20 w-20 mt-8 ml-16" src="/All_images/user-solid.svg">
        </div>

        <div class="h-[150px] w-52 bg-purple-500 rounded-xl">
            <img class="h-20 w-20 mt-8 ml-16" src="/All_images/user-solid.svg">
        </div>

        <div class="h-[150px] w-52 bg-purple-500 rounded-xl">
            <img class="h-20 w-20 mt-8 ml-16" src="/All_images/user-solid.svg">
        </div>

        <div class="h-[150px] w-52 bg-purple-500 rounded-xl">
            <img class="h-20 w-20 mt-8 ml-16" src="/All_images/user-solid.svg">
        </div>

        <div class="h-[150px] w-52 bg-purple-500 rounded-xl">
            <img class="h-20 w-20 mt-8 ml-16" src="/All_images/user-solid.svg">
        </div>

        <div class="h-[150px] w-52 bg-purple-500 rounded-xl">
            <img class="h-20 w-20 mt-8 ml-16" src="/All_images/user-solid.svg">
        </div>

        <div class="h-[150px] w-52 bg-purple-500 rounded-xl">
            <img class="h-20 w-20 mt-8 ml-16" src="/All_images/user-solid.svg">
        </div>

        <div class="h-[150px] w-52 bg-purple-500 rounded-xl">
            <img class="h-20 w-20 mt-8 ml-16" src="/All_images/user-solid.svg">
        </div>

        <div class="h-[150px] w-52 bg-purple-500 rounded-xl">
            <img class="h-20 w-20 mt-8 ml-16" src="/All_images/user-solid.svg">
        </div>

        <div class="h-[150px] w-52 bg-purple-500 rounded-xl">
            <img class="h-20 w-20 mt-8 ml-16" src="/All_images/user-solid.svg">
        </div>

        <div class="h-[150px] w-52 bg-purple-500 rounded-xl">
            <img class="h-20 w-20 mt-8 ml-16" src="/All_images/user-solid.svg">
        </div>

        <div class="h-[150px] w-52 bg-purple-500 rounded-xl">
            <img class="h-20 w-20 mt-8 ml-16" src="/All_images/user-solid.svg">
        </div>

        <div class="h-[150px] w-52 bg-purple-500 rounded-xl">
            <img class="h-20 w-20 mt-8 ml-16" src="/All_images/user-solid.svg">
        </div>

        <div class="h-[150px] w-52 bg-purple-500 rounded-xl">
            <img class="h-20 w-20 mt-8 ml-16" src="/All_images/user-solid.svg">
        </div>

        <div class="h-[150px] w-52 bg-purple-500 rounded-xl">
            <img class="h-20 w-20 mt-8 ml-16" src="/All_images/user-solid.svg">
        </div>

        <div class="h-[150px] w-52 bg-purple-500 rounded-xl">
            <img class="h-20 w-20 mt-8 ml-16" src="/All_images/user-solid.svg">
        </div>

        <div class="h-[150px] w-52 bg-purple-500 rounded-xl">
            <img class="h-20 w-20 mt-8 ml-16" src="/All_images/user-solid.svg">
        </div>

        <div class="h-[150px] w-52 bg-purple-500 rounded-xl">
            <img class="h-20 w-20 mt-8 ml-16" src="/All_images/user-solid.svg">
        </div>


        
    
    </div>
    

</body>
</html>